<div class="header header_about">
    <div class="header-txt-container">
        <div class="header-txt"> Prodotti</div>
    </div>
    <div class="diagonal-header">
        <div class="logo"></div>
    </div>
</div>
<div class="card">
    <div class="logo">
        <img src="./assets/images/bg/logo.png">
    </div>
    <div class="">
        <div class="horizontal">
            <h4 class="card-subtitle text-muted" style="font-style: italic;">“Si hortum in bibliotheca habes, nihil
                deerit.”</h4>
            <h4 style="text-align:right">da Cicerone</h4>
        </div>
        <div class="horizontal">
            <div class="example-action-buttons" style="    position: absolute;
            right: 30px;
            margin-top: -40px;
            z-index:111">
                <button mat-raised-button color="success" (click)="accordion.openAll()"
                    style="margin-right:20px">Espandi tutto</button>
                <button mat-raised-button color="success" (click)="accordion.closeAll()">Collassa</button>
            </div>
            <mat-tab-group backgroundColor="primary">
                <mat-tab>
                    <ng-template mat-tab-label style="color:white">
                        <img class="example-tab-icon" src="assets/images/icons/icons8-melanzana-48.png">
                        Verdure
                    </ng-template>
                    <div style="padding:10px">
                        <div class="">I nostri <strong>ortaggi</strong> crescono in pieno campo seguendo la
                            stagionalità e nel
                            rispetto del ciclo biologico
                            naturale.<br>
                            Le <strong>rotazioni delle colture </strong>e l'utilizzo di concimi organici preservano la
                            fertilità e la
                            salute
                            del suolo. <br>
                            <strong> L'irrigazione a goccia e la fertirrigazione</strong> garantiscono un risparmio
                            idrico e una maggiore
                            efficienza nella
                            somministrazione dei concimi.
                            <strong>La pacciamatura biodegradabile</strong> ci aiuta nel controllo delle erbe
                            infestanti, minimizzando le
                            operazioni di
                            diserbo meccanico che vanno a disturbare gli equilibri del suolo.
                            <br>
                            Per la lotta contro i parassiti e le crittogamiche usiamo esclusivamente prodotti consentiti
                            in
                            agricoltura
                            biologica, nel rispetto della biodiversità e della sostenibilità ambientale.
                            I nostri prodotti vengono raccolti e venduti in giornata per garantire massima freschezza ed
                            elevatissima
                            qualità.
                        </div>
                    </div>
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title style="    font-size: large;
                                color: #7ab831;">
                                    Aprile - Giugno
                                </mat-panel-title>
                                <mat-panel-description>
                                    Colture primaverili

                                </mat-panel-description>

                            </mat-expansion-panel-header>
                            <div>
                                <ul>
                                    <li>carciofi</li>
                                    <li>fave</li>
                                    <li>piselli</li>
                                    <li>cipollotti</li>
                                    <li>spinaci</li>
                                    <li>bietole</li>
                                    <li>insalate</li>
                                    <li>catalogna</li>
                                    <li>finocchi</li>
                                    <li>rucola</li>
                                    <li>borragine</li>
                                    <li>barbabietole</li>
                                    <li>zucchini</li>
                                    <li>susine</li>
                                    <li>albicocche</li>
                                </ul>

                            </div>

                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title style="    font-size: large;
                                color: #7ab831;">
                                    Luglio - Ottobre
                                </mat-panel-title>
                                <mat-panel-description>

                                    Colture estive

                                </mat-panel-description>

                            </mat-expansion-panel-header>

                            <ul>

                                <li>pomodori</li>
                                <li>melanzane</li>
                                <li>peperoni</li>
                                <li>patate</li>
                                <li>zucchine</li>
                                <li>meloni</li>
                                <li>angurie</li>
                                <li>fagioli</li>
                                <li>fagiolini</li>
                                <li>insalate</li>
                                <li>bietole</li>
                                <li>cipolle</li>
                                <li>aglio</li>
                                <li>zucche</li>
                                <li>kaki</li>
                                <li>fichi</li>
                                <li>susine</li>
                                <li>albicocche</li>
                            </ul>

                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title style="    font-size: large;
                                color: #7ab831;">
                                    Novembre - Marzo
                                </mat-panel-title>
                                <mat-panel-description>

                                    Colture invernali

                                </mat-panel-description>

                            </mat-expansion-panel-header>
                            <div>
                                <ul>
                                    <li>cavolfiore</li>
                                    <li>cavolo nero</li>
                                    <li>finocchi</li>
                                    <li>catalogna</li>
                                    <li>barbabietole</li>
                                    <li>zucche</li>
                                    <li>broccoli</li>
                                    <li>cavolo romano</li>
                                    <li>cavolo lavagnino</li>
                                    <li>cavolo verza</li>
                                    <li>cavolo scartoccio</li>
                                    <li>cavolo cappuccio</li>
                                    <li>porri</li>
                                    <li>cime rapa</li>
                                    <li>rape</li>
                                    <li>rucola</li>
                                    <li>spinaci</li>
                                </ul>
                            </div>

                        </mat-expansion-panel>


                    </mat-accordion>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <img class="example-tab-icon" src="assets/images/icons/icons8-fungo-50.png">
                        Funghi
                    </ng-template>
                    <div style="padding:10px">
                        <div class="">
                            I funghi sono un alimento da sempre molto utilizzato nella nostra cucina e studi
                            recenti hanno evidenziato
                            diverse <strong>proprietà medicinali</strong>, che fanno di questi ottimi alimenti da
                            inserire nella
                            dieta quotidiana.<br>
                            La nostra Azienda è specializzata nella coltivazione dello <strong>Shiitake</strong>, fungo
                            usato da
                            secoli in Cina e
                            Giappone per le sue proprietà organolettiche e medicinali.
                            Presenta un profumo leggero che si sprigiona con la cottura, un sapore delicato ed
                            un'ottima consistenza,
                            che lo rendono un ingrediente perfetto per contorni, primi, e zuppe.
                            Il fungo contiene minerali (Calcio, Ferro, Potassio e Zinco), provitamina B,
                            <strong>vitamina B2 e B12</strong>, tutti gli
                            amminoacidi essenziali.
                            <br>Queste sostanze supportano il sistema immunitario
                            garantendone un corretto

                            funzionamento.
                            Viste le sue proprietà nutritive lo shiitake viene oggigiorno annoverato tra i
                            cosiddetti superfood.

                        </div>
                    </div>
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Coltivati
                                </mat-panel-title>
                                <mat-panel-description>
                                    Disponibili secchi e freschi.


                                </mat-panel-description>

                            </mat-expansion-panel-header>
                            <div>
                                <ul>
                                    <li>Shiitake</li>
                                    <li>Cardoncelli</li>
                                    <li>Pioppini</li>
                                </ul>

                            </div>

                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    FUGHI DEL SOTTOBOSCO
                                </mat-panel-title>
                                <mat-panel-description>


                                </mat-panel-description>

                            </mat-expansion-panel-header>
                            <div> Ci occupiamo inoltre della raccolta di funghi spontanei come <strong>porcini</strong>
                                (Boletus edulis e
                                relativo gruppo),
                                <strong>prugnoli</strong> (Calocybe gambosa), e <strong>galletti</strong> (Cantharellus
                                cibarius), disponibili nei periodi
                                autunnali e
                                primaverili.
                            </div>
                        </mat-expansion-panel>


                    </mat-accordion>
                </mat-tab>


            </mat-tab-group>
        </div>
        <div class="horizontal">
            <div class="carousel-container">
                <carousel [cellWidth]="500">
                    <div *ngFor="let img of slides" class="carousel-cell" (click)="openPic(img)">
                        <img [src]="img.path" style="    object-fit: cover;">
                    </div>
                </carousel>

            </div>
        </div>

        <div class="horizontal" style="background:#f5f5f5">
            <div class="title-section">Come acquistare i nostri prodotti</div>


            Fungaia promuove la filiera corta e valorizza il contatto diretto tra il contadino e chi lo sostiene
            acquistando i suoi prodotti.<br>
            Lavoriamo all’interno dei circuiti di economia locale, dove la trasparenza nella realizzazione e nella
            distribuzione del cibo può realizzarsi attraverso l’autocontrollo partecipato.
            <br> Con un sistema di rete
            di relazioni dirette, i contadini possono svincolarsi dall’agribusiness e dai sistemi ufficiali di
            certificazione, e rendere visibili localmente le responsabilità ambientali e di costruzione del prezzo.
            Pensiamo che la vendita diretta favorisca il principio di autodeterminazione alimentare, ovvero il
            diritto delle persone a un cibo genuino, economicamente accessibile e che provenga dalle terre in
            cui vivono.
        </div>
        <div class="horizontal">
            <div class="title-section">Ci trovi qui</div>

            MERCATINI A KM0
            <ul>
                <li>il <strong>martedì mattina</strong> dalle 8.00 alle 12.00 a Sarzana (SP) in <a
                        href="https://goo.gl/maps/rDRFwooLdD3DRcXT9" target="_blank"
                        (click)="open('','https://goo.gl/maps/rDRFwooLdD3DRcXT9')">piazza Martiri della
                        Libertà</a> al
                    <strong> mercato dei produttori Val di Vara e Val di Magra</strong>
                </li>
                <li>il <strong>giovedì mattina</strong> dalle 8.00 alle 12.00 a <a
                        href="https://goo.gl/maps/XdM4dyg6MtaZjSJh7" target="_blank"
                        (click)="open('','https://goo.gl/maps/XdM4dyg6MtaZjSJh7')">La Spezia in piazzale Kennedy</a>
                </li>
                <li>il <strong>sabato mattina</strong> dalle 8.00 alle 12.00 a <a
                        href="https://goo.gl/maps/rDRFwooLdD3DRcXT9" target="_blank"
                        (click)="open('','https://goo.gl/maps/rDRFwooLdD3DRcXT9')">Sarzana (SP) in piazza Martiri
                        della
                        Libertà</a> al
                    <strong> Mercato della Terra (Slow Food)</strong>
                </li>
            </ul>


        </div>
        <div class="horizontal" style="background:#f5f5f5">
            <div class="title-section">Consegniamo a domicilio</div>


            Potete verificare l&#39;offerta della settimana e scegliere cosa desiderate ricevere a casa attraverso il
            link <a href="https://fungaia-46312.web.app/" target="_blank"
                (click)="open('','https://fungaia-46312.web.app')"> https://fungaia-46312.web.app/</a>

            oppure mandando un messaggio su whatsapp al numero <a href="tel:3461893352" target="_blank"
                (click)="open('tel','3461893352')">3461893352</a>.
            <br>
            Il pagamento sarà in contanti alla consegna.
            <br>
            Consegnamo in tutta la provincia di La Spezia, a Ceparana, Albiano Magra, Bolano, Follo, Santo
            Stefano Magra, Sarzana, Prati di Vezzano, Arcola, La Spezia, Lerici, Santerenzo, Pugliola, Romito.
        </div>

    </div>
</div>